<!DOCTYPE html>
<html>
<head>
    <title>App Encuestadora</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
</head>
<body>
<div id="app">
    <div class="row">
        <div class="text-center">
            <h1>App Encuestadora</h1>
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-5">
            <button type="button" class="btn btn-success" @click="cargar">Ver materias</button>
            <ul>
                <li v-for="m in materias">{{m}}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <label for="materia">Agregar materia:</label>
            <input type="text" id="materia" v-model="materia">
            <button type="button" class="btn btn-success" @click="insert">Add materia</button>
        </div>
    </div>
</div>
<script src="app.js"></script>
</body>
</html>